{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ fileitem.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-8">
      <h2>{{ fileitem.name }} -- {{ fileitem.id }} -- {{ room_name }}</h2>
      <textarea id="chat-log" cols="100" rows="20"></textarea><br>
      <input id="chat-message-input" type="text" size="100"><br>
      <input id="chat-message-submit" type="button" value="Send">
      {{ room_name|json_script:"room-name" }}

    </div>

    <div class="col-4">
      <div class="viewers mb-4">
        <h3>Viewers</h3>
        <ul class="list-group">

          {% for viewer in fileitem.viewers.all %}
          <li class="list-group-item d-flex justify-content-between align-items-center">{{ viewer.email }}
            <a href="#">
              <i class="bi bi-trash bi-xl"></i></a>
          </li>
          {% endfor %}

        </ul>
      </div>

      <div class="commenters">
        <h3>Commenters</h3>
        <ul class="list-group">

          {% for commenter in fileitem.commenters.all %}
          <li class="list-group-item d-flex justify-content-between align-items-center">{{ commenter.email }}<a
              href="#">
              <i class="bi bi-trash bi-xl"></i></a>
          </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>


</div>
{% endblock content %}



{% block javascript %}
<script>

  setTimeout(function () {
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
      'ws://'
      + window.location.host
      + '/ws/chat/'
      + roomName
      + '/'
    );

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#chat-message-submit').click();
      }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
      const messageInputDom = document.querySelector('#chat-message-input');
      const message = messageInputDom.value;
      chatSocket.send(JSON.stringify({
        'message': message
      }));
      messageInputDom.value = '';
    };
  }, 3000);


</script>
{% endblock javascript %}
