{% for item in filemodel_list %}

<li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="justify-content-start">
        <div class="badge bg-dark text-wrap p-2">
            <a href="{% url 'file_detail_view_url' item.id %}" class="text-decoration-none text-light fs-4">
                {{ item.name }}</a>
        </div>

        <a href="{{ item.file_itself.url }}" class="ms-2 text-dark text-decoration-none" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Opens the file in the browser"> <i
                class="bi bi-arrow-up-right-square bi-xl-n"></i></a>

        <a href="{{ item.file_itself.url }}" class="ms-2 text-dark text-decoration-none" download
            data-bs-toggle="tooltip" data-bs-placement="top" title="Downloads the file"> <i
                class="bi bi-download bi-xl-n"></i></a>
    </div>
    <div class="d-flex justify-content-between align-items-center">

        <div class="d-flex ms-4">
            <i class="bi bi-eye bi-ll" name="viewer_icon"></i>
            <label for="viewer_icon">&nbsp{{item.viewers.all|length}}</label>

        </div>

        <div class="d-flex mx-4 align-items-center">
            <i class="bi bi-chat bi-l" name="commenter_icon"></i>
            <label for="commenter_icon">&nbsp{{item.commenters.all|length}}</label>
        </div>

        <div class="d-flex flex-column">
            <p class="mb-0"><span class="text-muted">Created at: </span>{{ item.created_at|date:'H:i / n M' }}</p>
            <p class="mb-0"><span class="text-muted">Modified at: </span>{{ item.modified_at|date:'H:i / n M' }}</p>
        </div>

    </div>
</li>

{% endfor %}
