{% extends "main/base.html" %}

{% block content %}


{% if user.is_authenticated %}
<div class="container mt-4" id="app">
    {% if filemodel_list %}
    <ul class="list-group file-list" id="file-list">
        {% include 'pages/filelist_swap.html' %}
    </ul>



    {% else %}
    <div class="mx-auto">
        <h3>You don't have any file</h3>
    </div>
    {% endif %}
</div>



<div class="fixed-bottom">
    <div class="p-4">
        <h3>{% url 'file_upload_view' %}</h3>
        <form action="{% url 'file_upload_view' %}" class="dropzone" id="my-awesome-dropzone">
            {% csrf_token %}
            <div class="fallback"><input type="file" name="file" multiple></div>
        </form>
    </div>
</div>

{% else %}

<h1><a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Register</a> to upload
    files.</h1>
{% endif %}


{% endblock content %}
